body {
	font-family: Alike;
	background-color: #081724;
	text-align: justify;
}

#main {
	padding: 15px;
	margin-top: 50px;
	margin-left: 20%;
	width: 60%;
	background-color: #CFCFCF;
	border-radius: 8px;
}

.section {
	margin-bottom: 50px;
}

.category {
	text-decoration: underline;
}

.heuristic {
	font-weight: bold;
}