
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Gilda-Display;
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
}

#top {
	font-family: Cinzel;
	clear: both;
	width: 100%;
	height: 100px;
	/* color: black; */
	background-color: #081724;
	color: white;
	font-size: 2.3em;
}

#top p {
	height: 90px;
	line-height: 100px;
	padding-left: 45px;
	float: left;
}

#top p a {
	color: white;
}

/* #wiki {
	float: left;
	width: 30%;
	border: 1px solid black;
} */

#links {
	float: right;
	height: 60px;
	width: 800px;
	margin-top: 25px;
}

#links ul {
	float: right;
	margin-right: 5%;
}

#links li {
	display: inline;
	font-size: 0.6em;
}

#links li a:hover {
	font-weight: bold;
}

#links li a {
	color: white;
}

#main {
	clear: both;
	font-size: 1.2em;
}

#inputBox {
	float: left;
	margin-top: 75px;
	margin-left: 13%;
	margin-bottom: 100px;
	width: 35%;
	height: 400px;
	/*border: 1px solid black;*/
	background-color: #CFCFCF;
	border-radius: 7px;
	padding: 7px;
}

#outputBox {
	float: right;
	margin-top: 75px;
	margin-right: 13%;
	margin-bottom: 100px;
	width: 35%;
	height: 400px;
	/*border: 1px solid black;*/
	background-color: #CFCFCF;
	border-radius: 7px;
	padding: 7px;
}

.languageLabel {
	margin-left: 4px;
	margin-top: 3px;
}

.languageLabel p {
	display: inline;
	margin-left: 10px;
	margin-right: 13px;
}

.comboBox {
	font-family: Gilda-Display;
	font-size: 0.8em;
}

#input {
	/* border: 1px solid black; */
	width: 95%;
	height: 162px;
	margin-top: 15px;
	margin-left: 2.5%;
}

#textarea {
	width: 100%;
}

#output {
	background-color: #6B7076;
	color: white;
	/* border: 1px solid black; */
	width: 95%;
	height: 170px;
	margin-top: 15px;
	margin-left: 2.5%;
	border-radius: 5px;
}

#output p {
	color: white;
	padding-left: 15px;
	padding-top: 13px;
}

#submit {
	float: right;
	margin-right: 3.5%;
	margin-top: 7px;
	margin-bottom: 4px;
	font-family: Gilda-Display;
	font-size: 0.8em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#submit2 {
	float: right;
	margin-right: 3.5%;
	margin-top: 3px;
	font-family: Gilda-Display;
	font-size: 0.8em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#submit3 {
	float: right;
	margin-right: 3.5%;
	margin-top: 3px;
	font-family: Gilda-Display;
	font-size: 0.8em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#submit4 {
	clear: both;
	float: right;
	margin-right: 8%;
	margin-top: 3px;
	font-family: Gilda-Display;
	font-size: 0.8em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#submit5 {
	clear: both;
	float: right;
	margin-right: 8%;
	margin-top: 3px;
	font-family: Gilda-Display;
	font-size: 0.8em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#inputNotify {
	/*border: 1px solid black;*/
	margin-top: 35px;
	height: 150px;
	width: 94%;
	margin-left: 2.5%;
}

#inputNotify p {
	padding: 10px;
}

#button {
	float: right;
	margin-right: 3.5%;
	margin-top: 3px;
	font-family: Gilda-Display;
	font-size: 0.8em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#add {
	float: right;
	margin-right: 3.5%;
	margin-top: 3px;
	font-family: Gilda-Display;
	font-size: 0.8em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#addNew {
	float: right;
	margin-right: 3.5%;
	margin-top: 3px;
	font-family: Gilda-Display;
	font-size: 0.8em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#translation {
	height: 100%;
	width: 100%;
}

#outputNotify {
	/*border: 1px solid black;*/
	height: 100px;
	width: 90%;
	margin-left: 5%;
	margin-top: 40px;
}

#outputNotify2 {
	height: 100px;
	width: 90%;
	margin-left: 5%;
	margin-top: 40px;
}

#translationTextarea {
	width: 95%;
	height: 162px;
	margin-top: 15px;
	margin-left: 2.5%;
}

#requestBox {
	float: left;
	margin-top: 75px;
	margin-left: 30%;
	margin-bottom: 100px;
	width: 40%;
	height: 550px;
	/*border: 1px solid black;*/
	background-color: #CFCFCF;
	border-radius: 7px;
	padding: 7px;
	padding-top: 15px;
}

#requestTargetLanguage {
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 30px;
}

#targetLabel {
	width: 70%;
	float: left;
}

#requestNotify {
	/*border: 1px solid black;*/
	margin-top: 75px;
	height: 150px;
	width: 94%;
	margin-left: 2.5%;
}

#requestNotify p {
	padding: 10px;
}

#givenInput {
	background-color: #6B7076;
	color: white;
	width: 95%;
	height: 170px;
	margin-top: 15px;
	margin-left: 2.5%;

}

#givenInputText {
	padding: 8px;
}

#missingBox1 {
	clear: both;
	float: left;
	margin-top: 55px;
	margin-left: 30%;
	/*margin-bottom: 100px;*/
	width: 35%;
	height: 170px;
	/*border: 1px solid black;*/
	background-color: #CFCFCF;
	border-radius: 7px;
	padding: 7px;
}

#missingBox2 {
	clear: both;
	float: left;
	margin-top: 55px;
	margin-left: 30%;
	/*margin-bottom: 100px;*/
	width: 35%;
	height: 230px;
	/*border: 1px solid black;*/
	background-color: #CFCFCF;
	border-radius: 7px;
	padding: 7px;
}

.missingNotify {
	float: left;
	/*border: 1px solid black;*/
	margin-top: 55px;
	height: 150px;
	width: 25%;
	margin-left: 2.5%;

}

.missingNotify p {
	padding: 10px;
}

#topicArea {
	margin-top: 15px;
	margin-bottom: 10px;
	clear: both;
}

#textareaMissingTopic {
	width: 80%;
}

#textareaMissingCode {
	width: 10%;
}

#textareaMissingLanguage {
	width: 50%;
}


#languageArea {
	clear: both;
	margin-top: 8px;
	margin-bottom: 10px;
}

#codeArea {
	clear: both;
	margin-top: 15px;
}

#codeLabel {
	float: left;
	margin-right: 10px;
}

#languageLabel {
	float: left;
	margin-right: 10px;
}


#flag {
	float: right;
	margin-right: 0.5%;
	margin-top: 3px;
	font-family: Gilda-Display;
	font-size: 0.8em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#spam {
	float: right;
	margin-right: 3%;
	margin-top: 3px;
	font-family: Gilda-Display;
	font-size: 0.8em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
